.contentItem {
    padding-top: 70px;
}

.contentItem .jumbotron {
    min-height: 90vh;
}

.centerTextAlign {
    text-align: center;
}

.presentCode {
    border: dashed;
    padding: 1em;
    text-align: left;
}

.presentCode code {
    color: black;
    background: none;
}

.withoutDot {
    list-style-type: none;
}

.spacer40 {
    margin-top: 40px;
}